body {
    background-color: #ffb6c1;
}

a {
    position: absolute;
    top: 71%;
    left: 88%;
    transform: translate(-88%, -71%);
    color: #ffb6c1;
    user-select: none;
    font-size: 5px;
}